
#party {
    display: none;
    width: 45vw;
}

#pokemon {
    vertical-align: top;
}

label {
    user-select: none;
}

.creatureBox {
    width: calc(45vw/6);
    height: calc(45vw/6);
}

.creature {
    /* user-select: none; */
    width: calc(45vw/6);
    height: calc(45vw/6);
    margin: auto;
}

.creatureSelect {
    width: calc(45vw/6);
}

#trainerDetails {
    display: none;
    width: 45vw;
}