:root {
    --Normal: #A8A77A;
    --Fire: #EE8130;
    --Fighting: #C22E28;
    --Water: #6390F0;
    --Flying: #A98FF3;
    --Grass: #7AC74C;
    --Poison: #A33EA1;
    --Electric: #F7D02C;
    --Ground: #E2BF65;
    --Psychic: #F95587;
    --Rock: #B6A136;
    --Ice: #96D9D6;
    --Bug: #A6B91A;
    --Dragon: #6F35FC;
    --Ghost: #735797;
    --Dark: #705746;
    --Steel: #B7B7CE;
    --Fairy: #D685AD;
  }

#content {
    display: grid;
    grid-template-columns: 45vw, 45vw
}

#saveDisplay {
    grid-column: 1;
    width: 45vw;
}

#party {
    display: none;
    
    width: 45vw;
}

label {
    user-select: none;
}

.creatureBox {
    width: calc(45vw/6);
    height: calc(45vw/6);
}

.creature {
    /* user-select: none; */
    width: calc(45vw/6);
    height: calc(45vw/6);
    margin: auto;
}

.creatureSelect {
    width: calc(45vw/6);
}

#trainerDetails {
    display: none;
    width: 45vw;
}

/* =================================================== */

#saveEditor {
    display: none;
    grid-column: 2;
    width: 45vw;
}

#pokemon{
    margin: auto;
}

#moves {
    display: grid;
    grid-template-columns: 25vw, 25vw;
    grid-template-rows: auto auto;
}

.moveBox {
    margin: 1vw;
}

#move-1 {
    grid-column: 1;
    grid-row: 1;
    background: red;
}
#move-2 {
    grid-column: 2;
    grid-row: 1;
    background: green;
}
#move-3 {
    grid-column: 1;
    grid-row: 2;
    background: blue;
}
#move-4 {
    grid-column: 2;
    grid-row: 2;
    background: yellow;
}
